@page
@model AmazonBooks.Pages.PurchaseCompletedModel
@{
}



<div class="text-center">
    <h2>Thank your for doing business with us</h2>

    <a asp-controller="Home" class="btn btn-primary">Return Home</a>
</div>